extends layout

block content
  h1=title
  div(class='container' style="text-align: center;")
        button.btn(onclick=`dispatch(\"/Employee/create\")`) Create
  - var EmpPage = [{"EmpName": "Sowji", "EmpType": "Temporary", "EmpSal": 1000},{"EmpName": "Nithin", "EmpType": "permanent", "EmpSal": 2000},{"EmpName": "Kusuma", "EmpType": "Permanent", "EmpSal": 3000}]
  h1= title
  - let result=results
  div(class="container-fluid")
    div(class="row m-1")
        each item in results
            div(class="row-sm-2", class="m-1") Employee Name: #{item.EmpName}<br>Employee Type: #{item.EmpType}<br>(Employee Salary: #{item.EmpSal})<br>
              button.btn(onclick=`dispatch(\"/Employee/detail?id=${item._id}\")`) View
              button.btn(onclick= `dispatch(\"/Employee/update?id=${item._id}\")`) Update
              button.btn(onclick= `dispatch(\"/Employee/delete?id=${item._id}\")`) Delete
  script.
      function dispatch(path){
      window.location.href=path
      }